<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Aqui é o cabeçalho do projeto. </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h2>Aqui é o corpo do projeto</h2>
    <p>Descrição do corpo do projeto</p>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="secondary">
    <ion-title>Aqui é o rodapé do projeto</ion-title>
  </ion-toolbar>
</ion-footer>
